.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

/* Wrapper for the table to control overflow */
.table-container {
  width: 100%;
  overflow-x: auto; /* Always allow horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

mat-table {
  min-width: 600px; /* Set a minimum width to trigger scrolling */
}

@media screen and (max-width: 480px) {
  .table-container {
    margin: 0 auto; /* Center the table container */
    padding: 0 10px; /* Add some padding to prevent content from touching screen edges */
  }
}
